﻿
@{
    ViewBag.Title = "Model Binding";
}

<h2>Model Binding</h2>

<a href="/MVC04ModelBinding/KullaniciBilgi">Kullanici Bilgi Sayfasına Git</a>
<hr />
<a asp-action="AdresBilgi">Adres Bilgi</a>
<hr />
<a asp-action="KullaniciSayfasi">Kullanıcı Sayfasi</a>