
@{
    ViewBag.Title = "MVC AppSetting Dosyasından Veri Okuma";
}

<h1>AppSetting Dosyasından Veri Okuma</h1>

<h5>
    Email : @TempData["Email"]
</h5>

<h5>
    Email Sunucu : @TempData["MailSunucu"]
</h5>

<h5>
    Email Kullanıcı Adı : @TempData["KullaniciAdi"]
</h5>

<h5>
    Email Şifre : @TempData["Sifre"]
</h5>